<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="pop-out">
        <nav class="navigation">

            <div class="pop-out-window">
                <ul>
                    <li><a href="#menu">Menu Details</a></li>
                    <li><a href="#chef">About The Chef</a></li>
                    <li><a href="#dishes">Top Dishes</a></li>
                    <li><a href="#details">Restaurant Details</a></li>
                </ul>
            </div>
        </nav>
        <div id="menu">
            <h2>Menu Details</h2>
            <img src="<%= menu_photo.menu_photo =%>">
        </div>
        <div id="chef">
            <h2>About Chef</h2>
            <img src="<%= chef.chef_photo_id =%>">
            <p><%= chef.first_name =%> <%= chef.last_name =%></p>
            <p><%= chef.background =%></p>
        </div>
        <div id="dishes">
            <h2>Top Dishes</h2>
            <img src="#">
            <ul>
                <li> menu.popular_dish </li>
            </ul>
        </div>
        <div id="details">
            <h2>Restaurant Details</h2>
            <p> restaurant.name </p>
            <p> restaurant.address </p>
            <p> restaurant.phone_number </p>
            <p> restaurant.hours </p>
            <p> restaurant.website </p>
        </div>
    </div>
</body>

</html>