<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
    <%- include('../partials/header' ) %>
    <script src="public/css/styles.css"></script>
    <style>
        body {
            background-color: whitesmoke;
        }

        h1 {
            margin-top: 0;
            /* margin-bottom: 20; */
            font-size: 8rem;
            text-align: center;
            height: 27vh;
            line-height: 22vh;
            color: #fcedd8;
            background: #d52e3f;
            font-family: "Niconne", cursive;
            font-weight: 600;
            text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
                20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
                35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
        }

        h2 {
            text-align: center;
        }

        img {
            width: 400px;
            height: 300px;

        }

        .hidden {
            display: none;
        }

        li {
            list-style-type: none;
            display: inline;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #D52E3F;
            /* font-family: 'Mouse Memoirs'; */
            color: #fcedd8;
            text-align: center;
            font-size: 15px;
        }

        span.card {

            padding: 10px;

        }
    </style>
</head>

<body>
    <h1>Foodie</h1>
    <br>
    <h2>Your Liked Restaurants</h2> <span><a href="http://localhost:3005/" id="favorites">Back</a></span>




    <div class="container my-5">
        <div class="row">


            <% faves.map((fave) =>{%>

            <div class="col-lg-6 col-sm-6 mt-5">
                <span class="card">

                    <h3><%=fave.restaurant_name%></h3>
                    <img src="<%=fave.restaurant_photo%>">

                    <p><%=fave.cuisine_type%></p>
                    <%=fave.address%>
                    <a href="<%=fave.website%>"><%=fave.website%></a>
                    <p> <%=fave.phone_number%> </p>




                    <button onclick="deleteButton" id="delete">remove</button>
                    <br>
                </span>


                <br>
            </div>
            <% })%>

        </div>
    </div>




    <%- include('../partials/footer' ) %>
</body>
<script src="public/js/app.js"></script>

</html>