<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/header' ) %>
</head>

<body>
    <h1>Foodie</h1>

    <script>
        let selectedRestaurant= <%= selectedRestaurant %>;

        let restaurants= <%- restaurant%>;

        let chef= <%- chef%>;

        function increment() {
            selectedRestaurant++
            let restTemplate=`
            <div id="main">
            <div class="container" id="blur">
            <div class="content" id="content">
            
            <a href="#here"> <img src="${restaurants[selectedRestaurant].food_photo}" onclick="toggle()"
                        id="foodPic"></a>
            <h2 id="restName">${restaurants[selectedRestaurant].restaurant_name}</h2>

            <span id="restCuisine">${restaurants[selectedRestaurant].cuisine_type} <span id="price">${chef[(restaurants[selectedRestaurant].chef_id)].last_name}</span></span>

            <br>
            <br> 
            
            <button id="dislike" onclick="increment()"><i class="fa fa-close"></i></button><span
                    style="display:inline-block; width: 20px;"></span>
                <button id="like" onclick="increment()"><i class="fa fa-heart"></i></button>
            </div>
        </div>
    </div>



    <div id="popup">
        <ul>
            <li><a href="#menu">Menu Details</a></li>
            <li><a href="#chef">About The Chef</a></li>
            <li><a href="#dishes">Top Dishes</a></li>
            <li><a href="#details">Restaurant Details</a></li>
            <li><a href="#" onclick="toggle()">Go Back</a></li>
        </ul>

        </nav>

        <br>

        <img src="${restaurants[selectedRestaurant].location_photo}" id="restLocation">
        <div id="menu">
            <h2>Menu Details</h2>
            <img src="${restaurants[selectedRestaurant].menu_photo}" id="restMenu">
        </div>
        <div id="chef">
            <h2>About Chef</h2>
            <img src="${restaurants[selectedRestaurant].chef_photo}" id="restChef">
             <p>${chef[(restaurants[selectedRestaurant].chef_id)].first_name}</p>

        </div>
        <div id="dishes">
            <h2>Top Dishes</h2>
            <img src="${restaurants[selectedRestaurant].food_photo}" id="restPopDish">
            <p id="restPopDishDescription">${restaurants[selectedRestaurant].popular_dish}</p>

        </div>
        <div id="details">
            <h2>Restaurant Details</h2>
            <p id="restName"> ${restaurants[selectedRestaurant].restaurant_name} </p>
            <p id="restAddress"> ${restaurants[selectedRestaurant].address}</p>
            <p id="restNumber"> ${restaurants[selectedRestaurant].phone_number}</p>
            <p id="restHours"> ${restaurants[selectedRestaurant].hours}</p>
            <p id="restWebsite"> ${restaurants[selectedRestaurant].website}</p>
        </div>

        <a href="#" onclick="toggle()">CLOSE POPOUT</a>
    </div>
    </div>

    </div> `

            const container=document.getElementById('content')
            container.innerHTML=restTemplate

            if (selectedRestaurant==24) {
                selectedRestaurant=0
            }
        }

        function toggle() {
            let blur=document.getElementById('blur');
            blur.classList.toggle('active')

            let popup=document.getElementById('popup');
            popup.classList.toggle('active')
        }

    </script>
    <!-- <div id="main">

        <div class="container" id="blur"> -->

    <div class="content" id="content">

        <button onclick="increment()">Let's eat!</button>

    </div>
    <%- include('partials/footer' ) %>

</body>

</html>